body {
  font-family: 'Mulish', sans-serif;
  background: white;  
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nb {
  font-weight: bolder;
}

.navbar-toggler {
  border: none;
}