div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}
div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
body, .modal-body {
	background: linear-gradient(60deg, #FFF0F5, #FAF0E6, #FAEBD7, #FFFFF0, #FFFAF0, #FDF5E6, #F5F5DC, #FFF5EE, #F8F8FF, #F0F8FF, #F0FFFF, #F5FFFA, #F0FFF0, #FFFAFA, #F5F5F5, #FFFFFF);
	background-size: 600% 600%;
	animation: gradient 6s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
